@font-face{
    font-family: samsungsharp_meduim;
    src: url(../font/samsung-sharp-sans/samsungsharpmeduim.otf);
}
@font-face{
    font-family: samsungsharp_bold;
    src: url(../font/samsung-sharp-sans/samsungsharpsans-bold.otf);
}

body {
    font-family:samsungsharp_meduim, samsungsharp_bold;
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;

}

/*            MENU                 */



header {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%; 
    width: 250px;
    margin-right: 10px; 
}

nav {
    padding-left: 100px;
    flex-grow: 1; 
}

.barmenu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #ffffff;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000; /*Pour que le menu reste au-dessus des elements.... */
}

.menu {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px; 
}

.menu li a {
    color: #8a949c; 
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration 0.3s ease; 
    padding: 10px 15px; 
    font-family: samsungsharp_bold;
}

.menu li a:hover {
    color: #205584;
    text-decoration: underline;
    text-decoration: #1e3d58;
 /*   background-color: #f0f0f0;  Couleur de fond lors du survol */
}

.menu li a.active {
   color: #205584;
}



/*            SLIDER                 */




.slider-container {
    height: 700px; 
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(9, 9, 9, 0.2);
    margin: 150px 100px 0px 100px;
}


.slide img {
    width: 100%; 
    display: block;
    height: auto;
    object-fit: contain;
}

.slider-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005c; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.slider-title h1 {
    margin-top: 0;
    font-size: 56px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.slider-title q {
    font-size: 16px;
    max-width: 70%;

}
.slider-title p{
    font-size: 16px;
    max-width: 70%;
    box-shadow: 0px 4px 8px #09090933;
}









/*            CONTENT       index          */



.container{
    top: 0;
    margin-bottom: 30px;
    padding: 10px;
 /*   background-color: #fff;   */
}

.container p{
    padding: 20px 100px 20px 0px;
    font-size: 16px;
} 

.imagecontent img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin: 0; 
    padding: 0; 
    display: block; 
}

.container, .row {
    margin: 20px 0 50px 0 ; 
    padding: 0; 
    color: #090909;
}


.video-container {
    position: relative;
    width: 100%;
    height: 0; 
    padding-bottom: 56.25%; 
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2;
  }


  .event-details {
    display: flex;
    flex-direction: column;
    border: dotted;
    height: 98%;
    color: #090909;
   /* justify-content: space-evenly;*/
  }
  .event-details h3{
    margin: 50px 0px 20px 30px;
    font-size: 22px;
}
  .event-details .info {
    
    margin: 5px 0px 10px 50px;
    display: flex;
    align-items: center;
  }

  .event-details .info i {
    font-size: 1rem;
    margin-right: 5px;
  }
  .event-details .info del {
    text-decoration: line-through;
    text-decoration-color: #f90d0d;
  }
 

.event-details .signinbtn a{
    margin-top: 30px;
    text-decoration: none;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #205584;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.event-details .signinbtn :hover{
    background-color: #1e3d58;
}





/*            PAGE PROGRAMME                 */


.table-container {
    width: 70%; 
    margin-top: 50px;
    text-align: center;
    border: 2px solid #090909;
    border-radius: 8px; 
    overflow: hidden;
}

.table-container table {
    text-align: center;
    width: 100%;
    border-collapse: collapse; 
}

.table-container th, td {
    border: 1px solid #090909;
    padding: 10px;
}

.table-container th {
    text-align: center;
    background-color: #eff2f6;
    font-weight: bold;
}

.container .Btn .signinbtn a{
    margin-top: 30px;
    text-decoration: none;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #205584;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.container .Btn .signinbtn a:hover{
    background-color: #1e3d58;
}

.container .signinbtn button i{
   margin-right: 5px;
}





/*            PAGE Contact                 */

.contact2 {
    margin: 0;
    background-color: #1e3d58;
    padding: 30px;
    color: #ffffff;
    height: 90%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact2 li {
    list-style-type: none;
    margin: 5px 0;
}
.contact2 ul li a {
    color: #ffffff;
    text-decoration: none;
}
.contact2 a:hover {
    color: #eff2f6;
}
.contact2 h3{
    font-size: 22px;
}

.form {
    background-color: #eff2f6;
    padding: 30px;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000033;

}
.form h3{
    color: #090909;
    font-size: 22px;
}

.form-p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px; /*Espacer les elements du form*/
} 


input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #eff2f6;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus, select:focus, textarea :focus{
    border: solid;
    border-color: #1e3d58;
}
input[type="submit"] {
    align-items: center;
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #205584;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
 /*   transition: background-color 0.3s; */
}

input[type="submit"]:hover {
    background-color: #1e3d58;
}


textarea {
    min-height: 100px;
    
}

.faq {
    margin-top: 20px;
    color: #1e3d58;
  }
  .faq h3{
    font-size: 22px;
  }
  
  details {
    border: 1px solid #eff2f6;
    border-radius: 5px;
    margin: 10px 0;
  }

  details p{
    padding: 16px ;
    background-color: #eff2f6;
    border-top: 1px solid #efefef;
    margin: 0;    
  }
  details .text{
    padding-left: 15px;
  }
  summary {
    padding: 15px;
    cursor: pointer;
    background-color: #f9f9f9;
    font-weight: bold;
  }
  
  summary:hover {
    background-color: #eff2f6;
  }
  
  
  
/*          Inscription             */
.formInscription {
    background-color: #eff2f6;
    color:#000;
    padding: 30px 100px 30px 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000033;
}

.formInscription h3 {
    color: white;
}

.formInscription fieldset {
    border: solid;
    border-radius: 8px;
    border-color: #090909;
}
.formInscription fieldset legend {
    color:#090909;
    font-size: 40px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;

}
.formInscription .table-container-prix table{
    border: none;
    border-collapse: collapse; 
}

.formInscription form fieldset{
    padding: 30px 100px 30px 100px;
    margin-bottom: 30px ;
}
.table-container-prix td, th {
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #090909;
}

.form-group-inscription {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group-inscription label {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    color: #090909;
}

.form-group-inscription input[type="text"] {
    text-align: right;
    width: 20%;
    margin-right: 10px;
    margin-left: auto;
}
.formInscription form .mesboutons{
    display: flex;

}
.formInscription form #submit {
    align-items: center;
    margin-top: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: 100px;
    display: block;
    background-color: #205584;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}
.formInscription form #submit:hover {
    background-color: #1e3d58;
}
.formInscription form #reset {
    align-items: center;
    margin-top: 30px;
    width: 30%;
    margin-left: 100px;
    margin-right: auto;
    display: block;
    background-color:#f90d0d;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}
.formInscription form #reset:hover {
    background-color: #900808;
}


/*             Intervenants             */

.container .row .mesintervenants {
    display: flex;
    justify-content: space-around;
}
.container .row .mesintervenants .intervenant {
    padding: 0;
    border: solid;
    height: 100%;
    text-align: center;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: #f1f0f0;
}
.container .row .col-12 h2 {
    font-size: 40px;
}
.container .row .mesintervenants img {
    height: 200px;
    border-radius: 8px;
    background-color: #a9c0ce;
    margin: 20px auto; 
}

.container .row .mesintervenants h3 {
    padding: 0px 20px 0px 20px;
    font-size: 22px;
}
.container .row .mesintervenants p {
    padding: 0px 20px 20px 20px;
    text-align: left;
    font-size: 16px;
}
.container .row .mesintervenants .mesicones {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 50%;
    padding: 0;
}
.container .row .mesintervenants .mesicones .icones{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px; 
    padding: 0;
    margin: 0;
}
.container .row .mesintervenants .mesicones .icones li i{
    color: #1e3d58;
    font-size: 30px;
    padding: 2px;
    margin: 0;
}


/*              À propos                    */

.container .row .aPropos {
    display: flex;
    justify-content: space-around;
}

.container .row .aPropos .sujets {
    padding: 0;
    border: solid;
    height: 100%;
    text-align: center;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: #eff2f6;
}
.container .row .aPropos .sujets img {
    height: 200px;
    border-radius: 8px;
    background-color: #a9c0ce;
    margin: 20px auto; 
}
.container .row .aPropos .sujets h2 {
    padding: 0px 20px 0px 20px;
    text-align: left;
    font-size: 40px;
}
.container .row .aPropos .sujets p {
    padding: 0px 20px 20px 20px;
    text-align: left;
    font-size: 16px;
}
.container .row .aPropos .sujets .nosObjectifs {
    text-align: left;
    font-size: 16px;
}

.container .row .col-md-12 .personnesImpliquees h2 {
    padding: 0px 20px 0px 20px;
    text-align: left;
    font-size: 40px;  
}
.container .row .col-md-4 .personnesImpliquees {
    padding: 0;
    border: solid;
    height: 100%;
    text-align: center;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: #eff2f6;
}
.container .row .col-md-4 .personnesImpliquees img {
    height: 200px;
    border-radius: 8px;
    background-color: #a9c0ce;
    margin: 20px auto; 
}
.container .row .col-md-4 .personnesImpliquees p {
    padding: 0px 20px 20px 20px;
    text-align: left;
    font-size: 16px;
}
.container .row .col-md-4 .personnesImpliquees h3{
    padding: 0px 20px 0px 20px;
    text-align: left;
    font-size: 22px;
    
}






/*             Partenaires et Sponsors      */



.container .row-logo{
    display: flex;
    text-align: center;
}


.container .row-logo img {
    width: 200px;    
    height: 200px;  
    object-fit: contain;  /* Conserve le ratio des images tout en les ajustant dans les dimensions */
}


/*            FOOTER                 */







footer {
    height: 350px;
    bottom: 0;
    border-radius: 5px;
    justify-content: space-around; 
  /*  align-items: center;  */
    background-color: #1e3d58; 
    padding: 10px 0; 
}
footer .container .row > div {
    margin-top: 0px;
    margin-bottom: 0px; 
}
.contact, .liens, .reseaux{
    padding: 0;  /*top ,right, bottom,left*/
    margin: 0;
/*  margin: 15px 100px 15px 100px;*/ 
}

.contact h3, .liens h3, .reseaux h3{
    color: #b5b5b5;
    font-size: 22px;
}
.contact ul, .liens ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact ul li i, .liens ul li i{
    color: #b5b5b5;
    padding: 10px 0 5px 0;
}

.contact ul span{
    padding: 0px 5px;
    color: #b5b5b5;
    font-weight: bold;
}

.contact ul li a, .liens ul li a {
    padding: 0px 5px;
    color: #b5b5b5;
    font-weight: bold;
}

.liens ul li a:hover{
    color: #8a949c;
}
.reseaux ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.reseaux ul li a{
    color: #b5b5b5;
    padding: 0px 10px 0px 10px;
    font-size: 22px;
    margin: 0;
}
.reseaux ul li a:hover{
    color: #8a949c;
    
}


.infos h3{
    color: #b5b5b5;
}


.infos form {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

#mail {
    flex: 1;
    font-size: large; 
}
#mail:focus{
    border: solid;
    border-color: #f90d0d;
}
.BtnEnvoi {
    border-color: #f90d0d;
    padding: 10px 20px;
    background-color: #1e3d58;
    color: #ffffff;
    cursor: pointer;
    font-size: large;
}
.BtnEnvoi:hover{
    background-color: #1e3d58;
}
footer p{
    color: white;
    text-align: center;
    vertical-align: bottom;
    text-shadow: 0px 0px 3px #00000033;
}

footer p{
    color: #b5b5b5; 
    font-size: 16px;
    margin-top: 0px;
}
